{% extends "site/master.html" %}
{% block content %}

<div class="bg-indexAluno">
    {% include "site/partials/headerWhite.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card cardCentralizar mb-3 ">
                    <div class="card-body">
                      <h4 class="card-title">Qual o seu nome?</h5>


                        <form id="formJogar" action="/jogos/{idAluno}" method="get">
                            <select class="form-control" name="id">
                                {% for aluno in alunos %}
                                    <option value="{{ aluno.id }}">{{ aluno.nome }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">Jogar</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
