{% extends "site/master.html" %}
{% block content %}
{% include "site/partials/headerBlack.html" %}

{% if jogo.id == 3 %}
<div class="memoria">
    <div class="scoreMemoria" id="scoreMemoria">Pontuação: 0</div>

    <div class="game-board" id="game-board">
        <!-- As cartas serão geradas aqui pelo JavaScript -->
    </div>

    <div class="message" id="message">
        <!-- A mensagem será exibida aqui -->
</div>
</div>
{% else %}
    <div class="container-fluid backwhite">
    <canvas id="canvas" width="900" height="600"></canvas>
{% endif %}

{% if jogo.id == 6 %}
    <div id="score">Pontos: 0</div>
{% endif %}

{% if jogo.id == 4 %}
    <input type="text" id="inputResposta" placeholder="Digite a resposta aqui...">
{% endif %}
    
   

    <form id="formPontuacao" action="/salvarPontuacao/{{aluno.id}}/{{professor.usuario_id}}/{{jogo.id}}" method="POST">
        <input type="hidden" name="pontuacaoFinal" id="pontuacaoFinal">
        <input type="hidden" name="tempoTotal" id="tempoTotal">
        <input type="hidden" name="mensagem" id="mensagem">

        <!--JOGO DA COBRINHA-->
        {% if jogo.id == 1 %}
            <input type="hidden" name="macasPares" id="macasPares">
            <input type="hidden" name="macasImpares" id="macasImpares">
            <input type="hidden" name="colisoes" id="colisoes">
        {% endif %}

        <!--JOGO SALVE A TERRA-->
        {% if jogo.id == 4 %}
            <input type="hidden" name="vidas_perdidas_erradas" id="vidas_perdidas_erradas">
            <input type="hidden" name="vidas_perdidas_canvas" id="vidas_perdidas_canvas">
        {% endif %}
        
    </form>    
    
</div>


<script src="/public/assets/site/js/{{jogo.id}}.js"></script>
{% endblock %}