{% extends "site/master.html" %}
{% block content %}


<div class="login">
  <div class="left-section">
      <div>
          <h1 class="h1login">Bem-vindo ao CODIMATH</h1>
          <p class="plogin">Transformando a matemática em diversão e 
              progresso: Codimath, o seu aliado gamificado no 
              ensino fundamental 1!</p>
      </div>
  </div>
  <div class="right-section">
    {% if is_logged_in %}
    <div class="logado">
      <h1>Você já está logado(a)</h1>
      <a href="/portal" class="btn btn-primary">Portal do Professor</a>
    </div>
    {% else %}
      <form action="/login" method="POST">
          <img src="/public/assets/site/images/logoBlack.png" alt="Logo">
          <div class="btn-group btn-login">
              <button type="button" class="btn_active"><a href="/login">Login</a></button>
              <button type="button" class="btn_noactive"><a href="/cadastro">Cadastro</a></button>
          </div>
          <input type="email" placeholder="Email" name="email">
          {{ messages['email']['message']|message(messages['email']['alert'])|raw }}
          <input type="password" placeholder="Senha" name="senha">
          {{ messages['senha']['message']|message(messages['senha']['alert'])|raw }}
          <a href="#" class="forgot-password">Esqueci senha</a>
          <div class="remember-me">
              <div>
                <input type="checkbox" id="remember">
                <label for="remember">Lembrar de mim</label>
            </div>
        </div>
        <br><br>
        <input type="submit" value="Login">
        <br><br>
        {{ messages['message']['message']|message(messages['message']['alert'])|raw }}
      </form>
    {% endif %}
</div>
</div>
{% endblock %}