{% extends "site/master.html" %}
{% block content %}
{% include "site/partials/header.html" %}

<div class="backwhite">
  <div class="container backwhite">
        <h2>Editar Perfil</h2>
        <form action="/user/update/{{user.id}}" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="hidden" name="_METHOD" value="PUT">
              <input type="text" class="form-control" name="email" value="{{user.email}}">
              {{ messages['email']['message']|message(messages['email']['alert'])|raw }}
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" value="{{user.nome}}">
                {{ messages['nome']['message']|message(messages['nome']['alert'])|raw }}
              </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </form>
          <br>
          {{ messages['message']['message']|message(messages['message']['alert'])|raw }}

          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Deletar Conta
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar Conta</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Você tem certeza? Essa ação é irreversível.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <form action="/user/delete/{{user.id}}" method="POST">
                    <input type="hidden" name="id" value="{{user.id}}">
                    <input type="hidden" name="_METHOD" value="DELETE">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}